
header{
	background-color: rgba(12,8,7,0.5);
	height: 95px;
	width: 100%;
	font-weight: 100;
	color: white;
	display: flex;
	flex-direction: row;
	margin: -10px -10px -10px -10px;
	z-index: 1;
	position:absolute;
}
header a{
	color: white;
	text-decoration: none;
}
header .brand{
	margin-left: 75px;
	margin-top: 35px;

}
.brand img{
	width: 70%;
	height: auto;
}
header .navBar{
	padding-left: 90px;
	margin-top: 27px;
}
.navBar a{
	padding-left: 20px;
}
.navBar button{
	font-size: 15px;
	font-weight: 200;
	margin-left: 20px;
	background-color: rgba(52,152,219,1);
	padding: 15px 6px 15px 6px;
	color:white;
}
.main img{
	position: relative;
	width: 110%;
	margin: -10px -10px 0 -10px;
	position: center;
	background-size: cover;
	z-index: -1;
}
.banner{
	position: absolute;
	position: center;
	margin: -590px 0px 0px 0px;
	z-index: 2;
	color:white;
	/*padding-left: 200px;*/
}
.banner h1{
	width:110%;
	font-size: 65px;
	text-align: center;
}
.banner p{
	width: 110%;
	font-size: 28px;
	text-align: center;
	margin-top: -30px;
}
.banner button{
	background-color: transparent;
	font-size: 14px;
	font-weight: 200;
	padding: 10px 7px 10px 7px;
	border: white solid 1px;
	color: white;
	position: relative;
	left: 50%;
}

